In [1]:
import pandas as pd

In [23]:
df = pd.DataFrame.from_dict( data = {
    'a': list('asdfasdfas'),
    'b': range(0,10)
})

df.iloc[2:5,0] = None
df.iloc[6:7,1] = None

df

      a    b
0     a  0.0
1     s  1.0
2  None  2.0
3  None  3.0
4  None  4.0
5     s  5.0
6     d  NaN
7     f  7.0
8     a  8.0
9     s  9.0

In [24]:
@pd.api.extensions.register_dataframe_accessor("missing")  #Decorador
class MissingMethods:                                      #clase
    def __init__(self, pandas_obj):
        self._df = pandas_obj

    def number_missing(self):                        #metodo para contar datos faltantes
        return self._df.isna().sum().sum()

    def number_complet(self):                        #metodo para contar datos completos
        return self._df.size - self._df.missing.number_missing()

/tmp/ipykernel_476/755372397.py:2: UserWarning: registration of accessor <class '__main__.MissingMethods'> under name 'missing' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.
  class MissingMethods:                                      #clase

In [25]:
df.missing.number_missing()

4

In [26]:
df.missing.number_complet()

16

In [27]:
df

      a    b
0     a  0.0
1     s  1.0
2  None  2.0
3  None  3.0
4  None  4.0
5     s  5.0
6     d  NaN
7     f  7.0
8     a  8.0
9     s  9.0